.pingBody {
	background-color: orange;
	padding: 2em;
	opacity: 0.8;
}
.pongBody {
	background-color: black;
	color: orange;
	padding: 2em;
	opacity: 0.8;	
}
.col-md-4 {
	font-size: 1em;
}
.pingRow {
	font-size: 2em;
}
.pongRow {
	font-size: 1em;

}
.pingH3 {
	font-size: 3em;
}
